$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import url(http://fonts.googleapis.com/css?family=Raleway:500,700);
// endbower

body{
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-weight: 700;
}

h2, h3, h4, h5 {
  font-weight: 500;
}

.main{
  border-bottom: 10px solid #B3C833;
  min-height: 700px;
  width: 100%;
  margin-bottom: 0;

  .tagline{
    margin-top: 100px;
    h1, h2, h3, h4, h5{
      color: #fff;
    }

    h5{
      margin-top: 150px;
    }

    .btn{
      margin-top: 50px;
    }
  }

  .branding{
    .glyphicon{
      color: #B3C833;
    }
    color: #fff;
    text-decoration: none;

  &:hover{
    color: #B3C833;
    text-decoration: none;
  }
  }
}

.features {
  padding-top: 50px;
  background: #f3f3f3;
  border-bottom: 10px solid #B3C833;


  .row {
    margin-bottom: 50px;
  }

  .feature {
    text-align: center;
    padding: 25px;
    background: #ffffff;
    border-bottom: 3px solid #B3C833;
    height: 300px;

    p{
      margin-top: 25px;
    }
  }
}

.pricing {
  padding: 50px;

  .money {
    font-size: 250%;
  }
}

.signup-form {
  background: #353535;
  padding-bottom: 50px;
  text-align: center;
  form {
    width: 50%;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
  }

  .form-group{
    text-align: left;
  }
  h1{
    margin-top: 50px;
    margin-bottom: 50px;
    color: #ffffff;
  }
}

.footer{
  background-color: #B3C833;
  color: #ffffff;
}

.big-btn, .big-btn:hover{
  color: #fff;
  margin-top: 130px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 24px;
  padding: 20px 35px;
  border: 2px solid #db522f;
  background: #db522f;
  border-radius: 9px;
}
.big-btn:hover{
  background: transparent;
}

.orange-btn {
  color: #fff;
  text-transform: uppercase;
  border: 2px solid #db522f;
  background: #db522f;
}
.orange-btn:hover {
  background: transparent;
  color: #db522f;
  border: 2px solid #db522f;
}


.demo {
  padding-top: 50px;
}

#glimpse{
  margin: 25px auto auto;
  width: 1000px;
  height: 798px;
}

.pricing-container{
  background: #f3f3f3;
}
